<div class="newtask">
    <div class="newtask-header">
        <h3 class="newtaskTitle text-center">New task</h3>
    </div>
    <div class="newtaskBody">
        <form #forma>
            <div class=form-newtask>
                <label for="">Title</label>
                <input type="text" class="form-control" aria-describedby="title">
            </div>
            <div class=form-newtask>
                <label for="">Description</label>
                <input type="text" class="form-control" aria-describedby="title">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Send task</button>

        </form>
    </div>
</div>